* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 700px;
  width: 500px;
  border: 5px solid black;
  background-color: thistle;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
}

.box {
  height: 100px;
  width: 100px;
}

.box1 {
  background-color: dodgerblue;
}
.box2 {
  background-color: tomato;
}
.box3 {
  background-color: teal;
}
.box4 {
  background-color: gold;
}
.box5 {
  background-color: olive;
}
.box6 {
  background-color: orange;
}
